@keyframes fade-in {
    from {
      opacity: 0
    }
  
    to {
      opacity: 1
    }
  }

.dialog {

    width: 50%;
    border-radius: 20px;
    border: 1px solid var(--dialog-border);

    & .wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    & .dialog-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 2;
    }

    & .dialog-title {
        flex: 1 0;
    }
}

.dialog-form {
    display: flex;
    flex-direction: column;
    gap: 18px;

    & [class*="modal"] {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    & label {
        & input {
            margin-left: 4px;
        }
    }

    & [type="submit"] {
        flex: 1;
    }
}