.fancyoption {
    font-size: 1.4rem;
    position: relative;    
    
    width: fit-content;
    border: 1px solid black;
    border-radius: 10px;   

    height: calc(1em + 20px);    
    line-height: calc(1em + 20px);
   
    // overflow: hidden;
    .option {
     
        padding: 0 1em;
        transition: transform  400ms;
        cursor: default;

       
        .item {
            height: calc(1em + 20px); 
        }
    }

}