// @media (width >=768px) {
.record {
  >.wrapper {
    display: flex;
    align-items: flex-start;
    gap: 3.5rem;
  }

  #datepicker {
    z-index: 1;
  }
}

.record__sidebar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  min-width: 200px;
}

.record__operate {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 20ch;
}

.record__operate__input {

  display: flex;
  align-items: center;
  position: relative;

  [type=text] {
    font-size: 1.25rem;
    padding: .5rem;
    border: 1px solid hsl(0, 0%, 50%);
    border-inline: transparent;
    border-top: transparent;
  }

  svg {
    position: absolute;
    right: -10p;
    // bottom: 10px;
  }
}

.record__operate__groupview {
  position: absolute;
  left: 220px;
  width: 35rem;
  height: 500px;

  margin: 0 1rem;
  padding: 1rem;
  border: 2px solid lightgray;
  border-radius: 20px;
  background-color: var(--bg-modal);

  overflow: scroll;
  z-index: 9;

  .groupview__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    // padding: 1rem;
    .groupview__menu {
      text-align: right;
      position: sticky;
      top: 0;
    }

    .groupview__close {
      display: inline !important;
      cursor: pointer;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: rgba(220, 211, 211, 0.5);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: .5rem;
      background-color: rgba(0, 0, 0, .5);
      box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }

  }

  li {
    width: max-content;
    padding: 3px 0;
  }

}

.record__overview {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.record__overview__view {
  display: flex;
  flex-direction: column;
  z-index: 1;

  .list {
    display: flex;
    align-items: center;
    gap: 10px;
    // width: 300px;

    .star__pseudo {
      &::before {
        position: relative;
        left: -10px;
        content: '*';
      }
    }

    &:hover {
      .star__pseudo {
        &::before {
          visibility: hidden;
        }
      }

      .list__note {
        visibility: visible;
      }
    }
  }

  .list__price {
    // flex: 1;
    // text-align: right;
  }

  .list__note {
    visibility: hidden;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: .5rem 1rem;
    border: 1px solid lightgray;
    border-radius: 10px;

    .list__note__desc {
      padding: 1rem 0;
      flex: 1 0 100%;
    }
  }

}

// }

@media(max-width: 768px) {
  .record {
    dialog {
      width: 90%;
    }
  }
}