%ptr {
    cursor: pointer;
}

%flex {
    display: flex;
}

%f-g-1 {
    flex-grow: 1;
}

%g-1 {
    gap: 10px;
}

%d-sign {
    &:before {
        content: '$',
    }
}


// .form__group {

//     position: relative;
//     padding: 15px 0 0;

//     // &~span {
//     //   display: block;
//     //   padding: 10px 0 0;
//     // }

//     svg {
//       position: relative;
//       right: 0px;

//     }

//     .form__input {
//       width: 100%;
//       outline: 0;
//       font-size: 1rem;
//       border: 0;
//       border-bottom: 2px solid gray;
//       padding: 4px 0;
//       // background-color: transparent;
//       // background-color: red;

//       // &~label {
//       //   display: block;
//       //   position: absolute;
//       //   font-size: 1rem;
//       //   transition: .2s;
//       // }

//       // &::placeholder {
//       //   color: transparent;
//       // }

//       // &:placeholder-shown {
//       //   &~label {
//       //     font-size: 1rem;
//       //     top: 18px;
//       //   }
//       // }

//       // &:focus {
//       //   &~label {
//       //     position: absolute;
//       //     top: 0;
//       //     display: block;
//       //     outline: 0;
//       //     font-size: .5rem;
//       //   }
//       // }
//     }
//   }